.am-navbar-title{
    .input{
        margin-left: .2rem;
        width: 4.5rem;
        border: none; 
        line-height: .38rem;
        border-radius: 10px;
        font-size: 14px;
        padding: 5px;
        background-color:hsla(0,0%,88.6%,.3);
        text-align: center;
        color: #1c252a;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        .am-icon,.am-icon-search,.am-icon-md{
            font-size: 14px;
            vertical-align: middle;
            transform: scale(.8);
        }
    }
}

.am-navbar-right{
    .right{
        width: .4rem !important;
        height: .4rem;
        border-radius: 50%;
    }
}